body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: url(../img/cidade-espiral.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  max-width: var(--s512);
  height: 80%;

  border-radius: 8px;
  box-shadow: 0 0 10px #000000bb;

  overflow: hidden;
}

main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--s24);
  flex: 1;

  width: 100%;
  height: 100%;
  padding: var(--s24);

  background-color: #ffffff0a;
}

form h2 {
  padding: var(--s4);
  background-color: #00000059;
  border-radius: var(--s4);
  color: var(--cor04);
  font-size: var(--s32);
}

form label {
  display: flex;
  align-items: center;

  border: 1px solid var(--cor04);
  border-radius: var(--s4);

  overflow: hidden;
}

form label span {
  padding: var(--s12);
  background: var(--cor04);
}

form label input {
  width: 100%;
  height: 100%;
  padding: var(--s12);

  background-color: white;
  border: none;
  outline: none;

  color: var(--cor01);
  font-size: 16px;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 12px;

  border: 2px solid var(--cor04);
  border-radius: 8px;

  color: #fff;
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  transition: all 0.3s;
}

form button:hover {
  background-color: white;
  color: var(--cor01);
}

form a {
  background: none;

  color: var(--cor04);
  text-align: center;
  text-decoration: underline;
}
