.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: var(--s24);

  background-color: var(--cor02);
  border-bottom: 2px solid var(--cor03);
}

.home-header img {
  width: var(--s96);
  filter: invert(100%);
}

.home-header div {
  display: flex;
  gap: var(--s12);
}

.home-header button {
  padding: var(--s4);

  border-radius: var(--s4);

  color: #e0e0e0;
  font-size: var(--s24);

  transition: all 0.3s;
}

.home-header button:hover {
  background-color: var(--cor04);

  color: var(--cor02);

  transform: translateX(4px);
}

.home-header nav {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: var(--s24);

  width: 0;
  height: 100%;
  padding: var(--s24) 0px;

  background-color: black;

  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
