.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: var(--s24);

  padding: var(--s12);
}

.home button {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: var(--s128);
  padding: var(--s24);

  background-color: var(--cor03);
  border-radius: var(--s4);
  box-shadow: 0 0 12px #00000063;

  color: var(--cor04);

  cursor: pointer;

  transition: all 0.3s;
}

.home button:hover {
  transform: scale(1.1);
  background-color: var(--cor04);
  color: var(--cor01);
}
