.person {
  display: none;
  flex-direction: column;
}

.person header {
  width: 100%;
  padding-bottom: var(--s24);
  border-bottom: 2px solid var(--cor03);
}

.person header button {
  align-items: center;

  padding: var(--s8);

  border: 2px solid var(--cor04);
  border-radius: var(--s4);

  color: var(--cor04);
  font-weight: bolder;
}

.person header button:hover {
  background-color: var(--cor04);

  color: var(--cor02);

  transform: translateX(4px);
}

.person section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s12);
  flex: 1;
  padding-top: var(--s24);
}

.person article {
  display: flex;
  align-items: center;
  gap: var(--s12);

  width: 100%;
  max-width: var(--s512);
  padding: var(--s12);

  background-color: var(--cor02);
  border-left: 4px solid var(--cor05);
  border-radius: 4px;
  box-shadow: 0 0 10px #000000b7;

  color: var(--cor04);

  cursor: pointer;
}

.person article:hover {
  background-color: var(--cor03);
}

.person article img {
  width: var(--s64);
  border-radius: 50%;
}

.person article div {
  display: flex;
  flex-direction: column;
  gap: var(--s4);
}

.person article div h2 {
}

.person article div p {
}
