.create-sheet-attribute {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-sheet-attribute div {
  display: flex;
  align-items: center;
  flex: 1;

  width: 100%;
}

.create-sheet-attribute label {
  display: flex;
  flex-direction: column;
  width: var(--s128);
}

.create-sheet-attribute span {
  padding: var(--s8);

  background-color: var(--yellow);

  color: var(--cor01);
  font-size: var(--s16);
  font-weight: 500;
  text-align: center;
}

.create-sheet-attribute input {
  padding: var(--s8);
  background-color: var(--cor04);

  color: var(--cor01);
  text-align: center;
  font-size: var(--s16);

  cursor: pointer;
}

.create-sheet-attribute input:focus {
  cursor: text;
}

.create-sheet-attribute input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.create-sheet-attribute input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
