.create-sheet-preview-img-info {
  display: flex;
  gap: var(--s12);
}

.create-sheet-preview-img-info img {
  width: var(--s96);
  height: var(--s96);

  border: 1px solid var(--cor04);
}

.create-sheet-preview-img-info div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

.create-sheet-preview-img-info div p {
  border-bottom: 1px solid var(--cor03);

  color: var(--cor04);
  font-weight: 500;
}

.create-sheet-preview-img-info div p span {
  font-weight: 400;
}

/*==============================================*/
/*==============================================*/
/*==============================================*/

.create-sheet-preview-status-bar {
  display: flex;
  gap: var(--s12);
}

.create-sheet-preview-status-bar div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.create-sheet-preview-status-bar label {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-sheet-preview-status-bar label progress {
  width: 100%;
  border: 1px solid var(--cor02);
  border-radius: var(--s4);

  overflow: hidden;
}

.create-sheet-preview-status-bar
  div:nth-child(1)
  progress::-webkit-progress-value {
  background-color: var(--red);
}

.create-sheet-preview-status-bar
  div:nth-child(2)
  progress::-webkit-progress-value {
  background-color: var(--blue);
}

.create-sheet-preview-status-bar label progress::-webkit-progress-bar {
  position: relative;
  background-color: var(--cor03);
}

.create-sheet-preview-status-bar label span {
  position: absolute;
}

/*==============================================*/
/*==============================================*/
/*==============================================*/

.create-sheet-preview-attributes {
  display: flex;
  justify-content: space-between;
}

.create-sheet-preview-attributes div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/*==============================================*/
/*==============================================*/
/*==============================================*/

.create-sheet-preview-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > nav {
    display: flex;
    flex-direction: row;
    gap: 4px;

    & button {
      align-items: center;

      padding: var(--s4) var(--s8);

      background-color: var(--cor02);
      border-width: 1px 1px 0px 1px;
      border-style: solid;
      border-color: var(--cor04);
      border-radius: var(--s4) var(--s4) 0 0;

      color: var(--cor04);
      font-weight: 500;
    }

    & button:hover {
      background-color: var(--cor03);
    }

    & button:nth-child(1) {
      background-color: var(--cor04);
    }
  }

  & section {
    display: none;

    padding: var(--s12);

    border-top: 1px solid var(--cor04);
    background-color: var(--cor02);
  }

  & section:nth-child(2) {
    display: flex;
    padding: 0;
  }
}

/*==============================================*/
/*==============================================*/
/*==============================================*/

.create-sheet-preview-level-origin {
  display: flex;
  flex-direction: column;
  gap: var(--s12);
}

.create-sheet-preview-level-origin details {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: var(--s12);

  background-color: var(--cor02);
  box-shadow: 0 2px 4px #00000067;
  border: 1px solid var(--cor03);
  border-radius: var(--s8);

  cursor: pointer;

  transition: all 0.3s ease;
}

.create-sheet-preview-level-origin details:hover {
  background-color: var(--cor03);
}

.create-sheet-preview-level-origin details div {
  display: flex;
  flex-direction: column;
  gap: var(--s8);
}

.create-sheet-preview-level-origin details #preview-level p {
  font-weight: 600;
  color: var(--blue);
}
.create-sheet-preview-level-origin details #preview-level span {
  color: var(--cor04);
  font-weight: 300;
}

.create-sheet-preview-level-origin details #preview-origin h4 {
  color: var(--red);
}

.create-sheet-preview-level-origin details #preview-origin p {
  font-weight: 300;
  color: var(--cor04);
}
.create-sheet-preview-level-origin details #preview-origin span {
  color: var(--red);
  font-weight: 600;
}

/*==============================================*/
/*==============================================*/
/*==============================================*/

.create-sheet-preview-expertises > div:nth-child(1) {
  display: flex;
  justify-content: space-between;

  font-size: 12px;
}

.create-sheet-preview-expertises > div:nth-child(1) span {
  display: flex;
  align-items: center;
  gap: var(--s4);
}

.create-sheet-preview-expertises > div:nth-child(1) div {
  width: 12px;
  height: 12px;
}

/* Seleciona o primeiro div dentro de cada span */
.create-sheet-preview-expertises > div:nth-child(1) span:nth-child(1) div {
  background-color: var(--cor04);
}

/* Segundo div dentro de cada span */
.create-sheet-preview-expertises > div:nth-child(1) span:nth-child(2) div {
  background-color: var(--green);
}

/* Terceiro div dentro de cada span */
.create-sheet-preview-expertises > div:nth-child(1) span:nth-child(3) div {
  background-color: var(--red);
}

/* Quarto div dentro de cada span */
.create-sheet-preview-expertises > div:nth-child(1) span:nth-child(4) div {
  background-color: var(--blue);
}

.create-sheet-preview-expertises hr {
  margin: var(--s12) 0;
}

.create-sheet-preview-expertises #preview-expertise {
  display: flex;
  flex-wrap: wrap;

  padding: var(--s4) 0;
}

.create-sheet-preview-expertises #preview-expertise span {
  width: 25%;
  margin: var(--s4) 0;

  font-size: var(--s12);
}

/*==============================================*/
/*==============================================*/
/*==============================================*/

.create-sheet-preview > button {
  justify-content: center;
  align-items: center;

  padding: var(--s8);

  border: 2px solid var(--cor04);
  border-radius: var(--s4);

  color: var(--cor04);
  font-weight: 700;
}

.create-sheet-preview > button:hover {
  background-color: var(--cor04);

  color: var(--cor02);
}
