.sheet-stats {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: fit-content;
}

.sheet-stats-defense {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;
}

.sheet-stats-defense span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: var(--cor02);
  font-size: var(--s24);
  font-weight: 800;
}

.sheet-stats-passive {
  display: flex;
  gap: var(--s8);

  width: 100%;
}

.sheet-stats-passive div {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--s32);
  height: var(--s32);
}

.sheet-stats-passive div span:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding: 4px;

  color: var(--cor04);
  font-weight: 500;
}

.sheet-stats-passive div span:nth-child(2) {
  position: absolute;
  top: -5px;
  left: -5px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  background-color: var(--cor03);
  border: 2px solid var(--cor02);
  border-radius: 50%;

  color: var(--cor04);
  font-size: 12px;
}

.sheet-stats-bar {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.sheet-stats-bar > div {
  position: absolute;

  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 0 32px;
}

.sheet-stats-bar > div > div {
  display: flex;
  gap: 8px;
}

.sheet-stats-bar p {
  display: flex;
}

.sheet-stats .sheet-stats-bar progress {
  width: 100%;
  height: var(--s24);

  border: 1px solid var(--cor02);
  border-radius: var(--s4);

  overflow: hidden;
}

.sheet-stats-bar #barPV::-webkit-progress-value {
  background-color: var(--cor06);
}

.sheet-stats-bar #barPD::-webkit-progress-value {
  background-color: var(--cor05);
}
