.sheet-dices #sheet-attributes {
  display: flex;
  justify-content: space-around;
}

.sheet-dices #sheet-attributes button {
  flex-direction: column;
  align-items: center;
}

.sheet-dices #sheet-attributes button:hover {
  transform: scale(1.09);
}

.sheet-dices #sheet-expertises {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s4);
  flex: 1;
}

.sheet-dices #sheet-expertises button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 24%;
}

.sheet-dices #sheet-expertises button:hover {
  transform: scale(1.09);
}

.sheet-dices #sheet-expertises button span {
  display: flex;
  align-items: center;
}
