/*========== CRIAÇÃO DE FICHA DE PLAYER ==========*/
.player-form {
  display: none;
  flex-direction: column;

  width: 95%;
  height: 80%;
  max-width: var(--s512);

  padding: var(--s12);

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: var(--s12);

    border-bottom: 2px solid var(--cor03);

    & span {
      color: var(--cor04);
    }
  }

  & > section {
    display: none;
    flex-direction: column;
    gap: var(--s12);
    flex: 1;

    height: 100%;
    padding: var(--s12);

    color: var(--cor04);
    font-size: var(--s16);
    font-weight: 300;

    overflow-y: auto;

    & h2 {
      width: 100%;

      background-color: var(--cor03);
      border-radius: var(--s4);

      text-align: center;
      letter-spacing: var(--s4);
    }
  }

  & > footer {
    display: flex;
    justify-content: space-between;

    padding-top: var(--s12);

    border-top: 2px solid var(--cor03);

    & span {
      color: var(--cor04);
    }
  }

  & .player-form-info {
    display: flex;
    gap: var(--s12);

    & .csp-container-photo {
      display: flex;
      align-items: center;

      & label {
        width: var(--s96);
        height: var(--s96);
        aspect-ratio: 1/1;

        border: 2px solid var(--cor04);
        border-radius: 50%;

        cursor: pointer;
      }

      & label:hover {
        background-color: var(--cor03);
        border: 2px solid var(--cor03);
      }

      & img {
        width: 100%;
        border-radius: 50%;
      }
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: var(--s4);
    }

    & input {
      padding: var(--s12);

      background: var(--cor02);
      border-radius: var(--s4);
    }

    & input:hover {
      background-color: var(--cor03);
    }

    & input:focus {
      background-color: var(--cor03);
    }
  }

  & .player-form-details {
    display: none;
    gap: var(--s12);

    & div {
      display: flex;
      flex-direction: column;
      gap: var(--s4);
      flex: 1;
    }

    & textarea {
      height: 100%;
      padding: var(--s12);

      background: var(--cor02);
      border-radius: var(--s4);

      color: var(--cor04);
      font-size: var(--s12);

      resize: none;
    }

    & textarea:hover {
      background-color: var(--cor03);
    }

    & textarea:focus {
      background-color: var(--cor03);
    }
  }

  & .player-form-level {
    display: none;
    flex-direction: column;
    gap: var(--s12);

    & label {
      display: flex;
      flex-direction: column;
      gap: var(--s12);

      padding: var(--s12);

      background-color: var(--cor02);
      border: 2px solid var(--cor02);
      border-radius: var(--s8);
    }

    & input[type="radio"] {
      display: none;
    }

    & label:has(input[type="radio"]:checked) {
      border: 2px solid var(--blue);
    }

    & label.disabled-level {
      pointer-events: none;
      opacity: 0.5;
      border: 2px solid var(--red) !important; /* ganha até do checked */
    }

    & label:has(input[type="radio"]:disabled) {
      cursor: not-allowed;
    }

    & h3 {
      padding: var(--s8);

      background-color: var(--cor03);
      border-radius: var(--s4);

      font-size: var(--s16);
      text-align: center;
    }

    & p {
      color: var(--blue);
      font-weight: 700;
    }

    & span {
      color: var(--cor04);
      font-weight: 300;
    }
  }

  & .player-form-origins {
    display: none;
    gap: var(--s12);

    & label {
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      width: 100%;
      padding: var(--s12);

      background-color: var(--cor02);
      border: 2px solid var(--cor03);
      border-radius: var(--s8);
      box-shadow: 0 0 4px #00000077;

      cursor: pointer;
    }

    & input[type="radio"] {
      margin-left: auto;

      accent-color: var(--red);
    }

    & label:has(input[type="radio"]:checked) {
      border: 2px solid var(--red);
    }

    & label:has(input[type="radio"]:disabled) {
      cursor: not-allowed;
    }

    & summary {
      display: flex;
      gap: var(--s12);

      color: white;
      font-size: var(--s16);
      font-weight: bold;
    }

    & p {
      margin: var(--s12) 0;
      font-size: var(--s12);
    }

    & details {
      & p {
        color: var(--cor04);
        font-size: var(--s12);
        font-weight: thin;

        & span {
          color: var(--red);
          font-size: var(--s12);
          font-weight: 700;
        }
      }
    }
  }

  & .player-form-attribute {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    & div {
      display: flex;
      align-items: center;
      flex: 1;

      width: 100%;
    }

    & label {
      display: flex;
      flex-direction: column;
      width: var(--s128);
    }

    & span {
      padding: var(--s8);

      background-color: var(--yellow);

      color: var(--cor01);
      font-size: var(--s16);
      font-weight: 500;
      text-align: center;
    }

    & input {
      padding: var(--s8);
      background-color: var(--cor04);

      color: var(--cor01);
      text-align: center;
      font-size: var(--s16);

      cursor: pointer;
    }

    & input:focus {
      cursor: text;
    }

    & input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  & .player-form-expertises {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s12);

    & abbr {
      text-decoration: none;
      min-width: 45%;
      flex: 1;
    }

    & article {
      display: flex;
      flex-direction: column;
      align-items: center;

      border-radius: var(--s4);

      overflow: hidden;

      transition: all 0.3s;
    }

    & span {
      width: 100%;
      padding: var(--s4) var(--s12);

      background-color: var(--cor03);

      color: var(--cor04);
      font-size: var(--s16);
      font-weight: 500;
      text-align: center;
    }

    & select {
      width: 100%;
      padding: var(--s4);

      outline: none;

      color: var(--cor01);
      font-weight: 500;
      text-align: center;

      cursor: pointer;
    }

    & option {
      color: var(--cor01);
      font-weight: 500;
      text-align: center;
    }
  }

  & .player-form-preview {
    display: none;

    & .PF-preview-img-info {
      display: flex;
      gap: var(--s12);

      & img {
        width: var(--s96);
        height: var(--s96);

        border: 1px solid var(--cor04);
      }

      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
      }

      & p {
        border-bottom: 1px solid var(--cor03);

        color: var(--cor04);
        font-size: var(--s12);
        font-weight: 500;
      }

      & span {
        font-size: var(--s12);
        font-weight: 400;
      }
    }

    & .PF-preview-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--s16);

      & > nav {
        display: flex;
        flex-direction: row;
        gap: 4px;

        & button {
          align-items: center;

          padding: var(--s8);

          background-color: var(--cor02);

          color: var(--cor04);
          font-size: var(--s12);
          font-weight: 500;
        }

        & button:hover {
          background-color: var(--cor03);
        }

        & button:nth-child(1) {
          background-color: var(--cor04);
          color: var(--cor02);
          font-size: var(--s16);
        }
      }

      & section {
        display: none;

        max-height: var(--s128);

        padding: var(--s12);

        background-color: var(--cor02);

        overflow: auto;
      }

      & section:nth-child(2) {
        display: flex;
        background-color: var(--cor01);
      }
    }

    & .PF-preview-status-bar {
      display: flex;
      gap: var(--s12);

      & div {
        display: flex;
        flex-direction: column;
        flex: 1;

        & label {
          position: relative;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & progress {
            width: 100%;
            border: 1px solid var(--cor02);
            border-radius: var(--s4);

            overflow: hidden;
          }

          & progress::-webkit-progress-bar {
            position: relative;
            background-color: var(--cor03);
          }

          & span {
            position: absolute;
          }
        }
      }

      & div:nth-child(1) progress::-webkit-progress-value {
        background-color: var(--red);
      }

      & div:nth-child(2) progress::-webkit-progress-value {
        background-color: var(--blue);
      }
    }

    & .PF-preview-attributes {
      display: flex;
      justify-content: space-between;

      & div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    & .PF-preview-level-origin {
      display: flex;
      flex-direction: column;
      gap: var(--s12);

      & details {
        display: flex;
        flex-direction: column;

        width: 100%;

        padding: var(--s12);

        background-color: var(--cor02);
        box-shadow: 0 2px 4px #00000067;
        border: 1px solid var(--cor03);
        border-radius: var(--s8);

        cursor: pointer;

        transition: all 0.3s ease;

        & div {
          display: flex;
          flex-direction: column;
          gap: var(--s8);

          padding: var(--s8) 0;
        }

        & #preview-level {
          & p {
            font-weight: 600;
            color: var(--blue);
          }

          & span {
            color: var(--cor04);
            font-weight: 300;
          }
        }

        & #preview-origin {
          font-size: var(--s12);

          & h4 {
            color: var(--red);
          }

          & p {
            font-weight: 300;
            color: var(--cor04);
          }

          & span {
            color: var(--red);
            font-weight: 600;
          }
        }
      }
    }

    & .PF-preview-expertises {
      & div:nth-child(1) {
        display: flex;
        justify-content: space-between;

        font-size: 12px;

        & span {
          display: flex;
          align-items: center;
          gap: var(--s4);
        }

        & div {
          width: 12px;
          height: 12px;
        }

        & span:nth-child(1) div {
          background-color: var(--cor04);
        }

        & span:nth-child(2) div {
          background-color: var(--green);
        }

        & span:nth-child(3) div {
          background-color: var(--red);
        }

        & span:nth-child(4) div {
          background-color: var(--blue);
        }
      }

      & hr {
        margin: var(--s12) 0;
      }

      & #preview-expertise {
        display: flex;
        flex-wrap: wrap;

        padding: var(--s4) 0;

        & span {
          width: 25%;
          margin: var(--s4) 0;

          font-size: var(--s12);
        }
      }
    }

    & > button {
      justify-content: center;
      align-items: center;

      padding: var(--s8);

      border: 2px solid var(--cor04);
      border-radius: var(--s4);

      color: var(--cor04);
      font-weight: 700;
    }

    & > button:hover {
      background-color: var(--cor04);

      color: var(--cor02);
    }
  }
}
