* {
    margin: 0;
    padding: 0;
}


html, body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

abbr {
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#agi {
    top: 185px;
    left: 232px;
    font-size: 2rem;
}

#int {
    top: 265px;
    left: 350px;
    font-size: 2rem;
}

#vig {
    top: 409px;
    left: 317px;
    font-size: 2rem;
}

#pre {
    top: 409px;
    left: 145px;
    font-size: 2rem;
}

#for {
    top: 265px;
    left: 112px;
    font-size: 2rem;
}